.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
.eslintignore
eslint.config.mjs
esbuild.js
bundle.sh
tsconfig.json
*.vsix
versions/**
node_modules/**
out/**
test_file/**
example_prompts/**
continued-web/**
test_ppt_generator.js
.continued/**
.github/**
vsc-extension-quickstart.md
!dist/**
